# Gradle files
.gradle
build/
!build/libs/*.jar

# Logs
*.log
logs/

# Temporary files
*.tmp
*.swp

# IDE files
*.idea
*.iml
*.ipr
*.iws
.vscode/
*.class

# System files
.DS_Store
Thumbs.db

# Docker specific
Dockerfile
docker-compose.yml

# Git
.git
.gitignore

# Exclude other specific files and directories
node_modules/
